.contact-section {
  height: 30vh;
  color: black;
}

.form {
  width: 100%;
  height: 100%;
  margin-left: 20px;
  background-color: #cdf0eaa2;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  /* overflow: hidden; */
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-border-top-left-radius: 40px;
  -webkit-border-bottom-right-radius: 20px;
  -moz-border-radius-topleft: 40px;
  -moz-border-radius-bottomright: 20px;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 20px;
}

.contact-info {
  width: 100%;
  padding: 2.3rem 2.2rem;
  position: relative;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
}
.contact-info .title {
  margin-bottom: 30px;
  font-size: 35px;
  font-weight: 600;
}
.contact-info .title,
.contact-info {
  color: black;
  margin-left: 50px;
}
.info {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.contact-icons {
  margin-left: 20px;
}
.contact-icons span {
  margin-left: 10px;
  font-size: 22px;
}

@media (max-width: 1300px) {
  .contact-form {
    margin: 10px 20px;
    width: 90%;
  }

  form {
    padding: 2rem 20px;
  }

  .info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact-info {
    width: 100%;
    padding: 20px 10px;
  }
  .contact-info .title {
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 0.7rem;
  }
  .contact-info .title,
  .contact-info {
    margin-left: 2px;
  }
  .contact-icons {
    margin-top: 20px;
  }
  .contact-icons span {
    font-size: 1.2rem;
  }
}

@media (max-width: 850px) {
  .form {
    grid-template-columns: 1fr;
  }
  .contact-form {
    margin: 10px 20px;
    width: auto;
  }
}

@media only screen and (max-width: 480px) {
  body {
    overflow-x: hidden;
  }

  .form {
    margin-left: 0px;
    background-color: #cdf0eaa2;
    border-radius: 10px;
  }

  .contact-form {
    margin: 0px 10px;
  }

  form {
    padding: 2rem 20px;
  }

  .contact-info {
    width: 100%;
    padding: 20px 10px;
  }
  .contact-info .title {
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 0.7rem;
  }
  .contact-info .title,
  .contact-info {
    margin-left: 2px;
  }
  .contact-icons {
    margin-top: 20px;
  }
  .contact-icons span {
    font-size: 1.2rem;
  }
}
