@import url(animations.css);

/*General Styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;

  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  color: black;
  overflow-x: hidden;
}

.container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  /* background-color: #0a80ab17; */
  z-index: 2;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 30px 5%;
  font-size: 20px;
}

.hamburger {
  background-color: transparent;
  color: black;
  font-size: 25px;
  border: none;
  cursor: pointer;
  display: none;
}
.hamburger:focus {
  outline: none;
}
.right-side {
  display: flex;

  width: 50%;
  margin-right: 20px;
}

.nav-link-wrapper {
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
  cursor: pointer;
}

.nav-link-wrapper a {
  color: #383434;
  text-decoration: none;
  transition: color 0.5;
  margin-left: 20px;
}

.nav-link-wrapper:hover {
}

.nav-link-wrapper a:hover {
  color: black;
  padding-bottom: 5px;
  /* font-size: 21px; */
  border-bottom: 3px Solid rgb(0, 0, 0);
}

/* Footer Styles */
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #133b5c;
  height: 200px;
  color: white;
  height: 50vh;
}

.social-media {
  margin: 20px;
}

.social-icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  height: 20px;
}

.contact-form-wrapper {
  display: flex;
  flex-direction: column;
}

input {
  margin: 4%;
}

.main-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button {
  background: #ffffff;
  /* border: 1px solid #556699; */
  border: none;
  border-radius: 11px;
  /* box-shadow: 2px 2px #8a8585; */
  padding: 10px 25px;
  color: #20124d;
  display: inline-block;
  font: italic normal 26px/1 "Roboto", sans-serif;
  text-align: center;
  background: transparent;
  animation: slideDown 2s ease-in-out 0s infinite alternate forwards;
}

/* Particles */

.particles {
  position: absolute;
  opacity: 0;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 12px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background: radial-gradient(circle, #21124d 10%, #20124d 100%);
  border-radius: 15px;
}
::-webkit-scrollbar-thumb:hover {
  background: radial-gradient(circle, #241454 14%, #251557 64%);
}
::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 3px;
  box-shadow: inset 30px 1px 30px #f0f0f0;
}

@media (max-width: 1300px) {
}

@media (max-width: 850px) {
  .hamburger {
    background-color: transparent;
    color: black;
    font-size: 25px;
    border: none;
    cursor: pointer;
    display: block;
  }

  .right-side {
    display: none;
    width: 100%;
  }
  .right-side.show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  .nav-link-wrapper {
    margin-bottom: 10px;
  }

  button {
    margin-top: -25px;
  }
}

@media only screen and (max-width: 480px) {
}
